# Ignore MATLAB app installer files
*.mlappinstall

# Ignore autosave files
*.autosave/

# Ignore build artifacts
build/*/includedSupportPackages.txt
build/*/mccExcludedFiles.log
build/*/requiredMCRProducts.txt
build/*/unresolvedSymbols.txt

# Ignore compilation script and shell scripts
compile_project.m
*.sh

# Ignore system files
Thumbs.db

# dummy change_1 to trigger commit